<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Orion | About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="shortcut icon" href="img/logo.png">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="loading-wrapper">
            <div class="loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
        </div>
        <nav class="navbar">
            <a href="index.htm" class="navbar__link">Home</a>
            <a href="about.htm" class="navbar__link">About</a>
            <a href="index.htm" class="navbar__logo">Graspp</a>
            <a href="survey.htm" class="navbar__link">Surveys</a>
            <a href="contact.htm" class="navbar__link">Contact</a>
        </nav>

        <main class="about-hero mgb-extra-large">
            <div class="about-hero__text-container">
                <h1 class="heading-1 heading-1--white mgb-extra-small">About Us</h1>
                <p class="about-hero__text">Individuals who believe in having a safe instagram</p>
            </div>
        </main>

        <section class="about-info-1">
            <p class="about-info-1__head">
                We, the students of <span class="color">class IX-D,</span>
            </p>
            <p class="about-info-1__para mgb-small">
                as a continuation of our social initiative programme, Ekjut 2020, aim to raise awareness, regarding the pros and cons of social media. During the lockdown, we found ourselves leaning closer and closer towards platforms such as Instagram, Snapchat, Facebook, Twitter etc. in search of social contact. Through this pandemic, we realised that the future of tomorrow will inevitably be the age of social media and networking. As part of the age group, which seeks more and more comfort in these social media websites, a great responsibility falls upon us, for the greater good. Hence, we have thought to take steps to educate our peers, our juniors and even raise awareness to parents and adults, regarding the dangers of social media, cybersecurity etc. 
            </p>
            <div class="about-info-1__img-container">
                <img src="img/poster 1.png" alt="poster" class="about-info-1__img">
                <img src="img/poster 1.png" alt="poster" class="about-info-1__img">
            </div>
        </section>

        <section class="members mgb-small">
            <h1 class="heading-1 heading-1--black">our team</h1>
            <div class="members-grid">
                <div class="member">
                    <img src="img/mahi.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Mahi Arora</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                <div class="member">
                    <img src="img/arnav.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Arnav Gupta</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                <div class="member">
                    <img src="img/tijil.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Tijil Chhabra</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                <div class="member">
                    <img src="img/abhishree.png" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Abhishree Bhardwaj</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                <div class="member">
                    <img src="img/abir.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Abir Chopra</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                <div class="member">
                    <img src="img/dhruva.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Dhruva Khera</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                <div class="member">
                    <img src="img/soham.png" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Soham Talwar</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                <div class="member">
                    <img src="img/aryan.jpgx" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Aryan Bansal</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                <div class="member">
                    <img src="img/member 6.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Ridhi Ahuja</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                <div class="member">
                    <img src="img/member 6.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Yashika Mathur</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <p class="footer__text">Made with ❤️ by 9D</p>
        </footer>
        <script src="../js/app.js"></script>
    </body>
</html>