{% extends "base.htm" %}
{% block content %}

<main class="about-hero mgb-extra-large">
    <div class="about-hero__text-container">
        <h1 class="heading-1 heading-1--white mgb-extra-small">About Us</h1>
        <p class="about-hero__text">Individuals who believe in having a safe instagram</p>
    </div>
</main>

<section class="about-info-1">
    <p class="about-info-1__head">
        We, the students of <span class="color">class IX-D,</span>
    </p>
    <p class="about-info-1__para mgb-extra-small">
        as a continuation of our social initiative programme, Ekjut 2020, aim to raise awareness, regarding the pros and cons of social media. During the lockdown, we found ourselves leaning closer and closer towards platforms such as Instagram, Snapchat, Facebook, Twitter etc. in search of social contact. Through this pandemic, we realised that the future of tomorrow will inevitably be the age of social media and networking. As part of the age group, which seeks more and more comfort in these social media websites, a great responsibility falls upon us, for the greater good. Hence, we have thought to take steps to educate our peers, our juniors and even raise awareness to parents and adults, regarding the dangers of social media, cybersecurity etc. 
    </p>
    <p class="about-info-1__para mgb-medium">
        Inspired by our principal ma’am, Mrs. Vibha Singh ma’am and guided by vice principal ma’am, Mrs. Kanika Sachdeva Govi, we aim to spread our initiative across, transcending the barriers of borders and time. Realising the vision of our class teacher Mrs. Monica Aggarwal, who initially sowed the seed of this idea, we wish to take this forward through our E-posters, videos and this website, by putting up surveys and integrating the results in a compact way, through charts. We wish to nurture this fledgeling of an idea and see it through, as it gradually converts into a beautiful tree, creating the backbone of a cyber-secure and aware citizens of the near future. 
    </p>
</section>

<section class="members mgb-small">
    <h1 class="heading-1 heading-1--black">our team</h1>
    <div class="members-grid">
        <div class="member">
            <img src="../static/img/mahi.jpg" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Mahi Arora</p>
                <p class="member__post">Member</p>
            </div>
        </div>
        <div class="member">
            <img src="../static/img/arnav.jpg" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Arnav Gupta</p>
                <p class="member__post">Member</p>
            </div>
        </div>
        <div class="member">
            <img src="../static/img/tijil.jpg" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Tijil Chhabra</p>
                <p class="member__post">Member</p>
            </div>
        </div>
        <div class="member">
            <img src="../static/img/abhishree.png" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Abhishree Bhardwaj</p>
                <p class="member__post">Member</p>
            </div>
        </div>
        <div class="member">
            <img src="../static/img/abir.jpg" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Abir Chopra</p>
                <p class="member__post">Member</p>
            </div>
        </div>
        <div class="member">
            <img src="../static/img/dhruva.jpg" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Dhruva Khera</p>
                <p class="member__post">Member</p>
            </div>
        </div>
        <div class="member">
            <img src="../static/img/soham.png" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Soham Talwar</p>
                <p class="member__post">Member</p>
            </div>
        </div>
        <div class="member">
            <img src="../static/img/aryan.jpg" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Aryan Bansal</p>
                <p class="member__post">Member</p>
            </div>
        </div>
        <div class="member">
            <img src="../static/img/ridhi.png" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Ridhi Ahuja</p>
                <p class="member__post">Member</p>
            </div>
        </div>
        <div class="member">
            <img src="../static/img/yashika.png" alt="member image" class="member__img">
            <div class="member__text">
                <p class="member__name">Yashika Mathur</p>
                <p class="member__post">Member</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
