{% extends "base.htm" %}
{% block content %}
        <main class="contact-hero mgb-extra-large">
            <div class="contact-hero__text-container">
                <h1 class="heading-1 heading-1--white mgb-extra-small">Contact Us</h1>
                <p class="contact-hero__text">We all are only one email away!</p>
            </div>
        </main>

        <section class="contact-details">
            <h1 class="heading-1 heading-1--black mgb-small">approach us right away!</h1>
            <p class="contact-details__text">
                Had a problem? or want to join us? Not to worry! Just send us an email and we will respond to you right away!
            </p>
            <br>
            <p class="contact-details__email">
                Email: initiative9d@gmail.com
            </p>
        </section>
{% endblock %}
