        <main class="survey-hero mgb-extra-large">
            <div class="survey-hero__text-container">
                <h1 class="heading-1 heading-1--white mgb-extra-small">find out</h1>
                <p class="about-hero__text">Find out whether you are cyber safe or not</p>
            </div>
        </main>

        <section class="survey-intro">
            <h1 class="heading-1 heading-1--black mgb-small">Its simple!</h1>
            <p class="survey-intro__text">
                All you need to do is fill out the forms for us to assess your social media practices! We also have a small survey on the emotional conditions of the younger people to help with the effects of social media on them. So please, do not be afraid to encourage any teen or youth near you to fill out the survey. This is all an initiative for your benefit!
            </p>
        </section>

        <section class="survey-form">
            <h2 class="heading-2 heading-2--white mgb-medium">Are you cyber safe?</h2>

            <form action="#" class="form">
                <div class="form__group">
                    <p class="form__head">Gender</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="male" name="size">
                        <label for="male" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Male
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="female" name="size">
                        <label for="female" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Female
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Are you aware of the age limits for using the various social networking sites?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-age" name="size">
                        <label for="yes-age" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-age" name="size">
                        <label for="no-age" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="cant-say-age" name="size">
                        <label for="cant-say-age" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Can't say
                        </label>
                    </div>
                </div>
            
                <div class="form__group">
                    <p class="form__head">Do you accept friend requests from strangers?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-req" name="size">
                        <label for="yes-req" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-req" name="size">
                        <label for="no-req" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Do you think that privacy policies are effective in social networking sites?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-privacy" name="size">
                        <label for="yes-privacy" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-privacy" name="size">
                        <label for="no-privacy" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="cant-say-privacy" name="size">
                        <label for="cant-say-privacy" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Can't say
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Have you ever been a victime of cyber crime?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-crime" name="size">
                        <label for="yes-crime" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-crime" name="size">
                        <label for="no-crime" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="not-say-crime" name="size">
                        <label for="not-say-crime" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Prefer not to say
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Are you aware of the Government Policies that provide protection against cyber crimes?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-govt" name="size">
                        <label for="yes-govt" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-govt" name="size">
                        <label for="no-govt" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="maybe-govt" name="size">
                        <label for="maybe-govt" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Maybe
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Do you think that cyber crimes are increasing with the advent of technology and greater usage of social networking sites? </p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-tech" name="size">
                        <label for="yes-tech" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-tech" name="size">
                        <label for="no-tech" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="maybe-tech" name="size">
                        <label for="maybe-tech" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Maybe
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Are your parents aware of your profile on such social networking sites? </p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-parents" name="size">
                        <label for="yes-parents" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-parents" name="size">
                        <label for="no-parents" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="maybe-parents" name="size">
                        <label for="maybe-parents" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Maybe
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Does your school organize workshops and webinars related to cyber security?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-webinar" name="size">
                        <label for="yes-webinar" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-webinar" name="size">
                        <label for="no-webinar" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <input type="text" class="form__input" placeholder="tips to reduce cyber crime" id="tip" required>
                    <label for="tip" class="form__label">Tips to reduce Cyber crime</label>
                </div>
                <a href="#" class="btn-cta">Submit</a>
            </form>
        </section>

        <section class="survey-form">
            <h2 class="heading-2 heading-2--white mgb-medium">Emotional impacts</h2>

            <form action="#" class="form">
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="How do you handle criticism?" id="criticism" required>
                    <label for="tip" class="form__label">How do you handle criticism?</label>
                </div>

                <div class="form__group">
                    <input type="text" class="form__input" placeholder="Are you able to Concentrate on doing intellectual work?" id="concentrate" required>
                    <label for="tip" class="form__label">Are you able to Concentrate on doing intellectual work?</label>
                </div>
            
                <div class="form__group">
                    <p class="form__head">Are you afraid of showing the world your true self?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-true-self" name="size">
                        <label for="yes-true-self" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-true-self" name="size">
                        <label for="no-true-self" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Do u doubt yourself or feel worthless?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-worthless" name="size">
                        <label for="yes-worthless" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-worthless" name="size">
                        <label for="no-worthless" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="cant-say-worthless" name="size">
                        <label for="cant-say-worthless" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Can't say
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Do u get disturbing or anxiety provoking thoughts? </p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-thoughts" name="size">
                        <label for="yes-thoughts" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-thoughts" name="size">
                        <label for="no-thoughts" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="cant-say-thoughts" name="size">
                        <label for="cant-say-thoughts" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Can't say
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Do u see yourself becoming over dramatic or aggressive when u get those thoughts?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-aggresive" name="size">
                        <label for="yes-aggresive" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-aggresive" name="size">
                        <label for="no-aggresive" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="maybe-aggresive" name="size">
                        <label for="maybe-aggresive" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Maybe
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Are you afraid of being exposed to the reality? </p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-exposure" name="size">
                        <label for="yes-exposure" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-exposure" name="size">
                        <label for="no-exposure" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="maybe-exposure" name="size">
                        <label for="maybe-exposure" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Maybe
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Do u always feel the need to prove your point to others? </p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-point" name="size">
                        <label for="yes-point" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-point" name="size">
                        <label for="no-point" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>

                    <div class="form__radio-group mgt-extra-small">
                        <input type="radio" class="form__radio-input" id="maybe-point" name="size">
                        <label for="maybe-point" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Maybe
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Do u always feel the pressure to seek perfection in everything?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-perfection" name="size">
                        <label for="yes-perfection" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-perfection" name="size">
                        <label for="no-perfection" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>
                </div>

                <div class="form__group">
                    <p class="form__head">Do u listen to others' view point and learn instead of always wanting to speak?</p>
                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="yes-listen" name="size">
                        <label for="yes-listen" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            Yes
                        </label>
                    </div>

                    <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="no-listen" name="size">
                        <label for="no-listen" class="form__radio-label">
                            <span class="form__radio-btn"></span>
                            No
                        </label>
                    </div>
                </div>
                <a href="#" class="btn-cta">Submit</a>
            </form>
        </section>

        <section class="submitted" id="modal">
            <div class="submitted__modal">
                <div class="cross">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <p class="submitted__text">
                    Thank you for your submission!
                    <br>
                    Your survey has been recorded!
                </p>
            </div>
        </section>